<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<import resource="upd-servers.xml" />
	<import resource="users-auth.xml" />
	<import resource="config-files.xml"/>

	<bean id="momServer" class="org.strix.mom.server.MomServer">
		<property name="webSocketTokenServer" ref="webSocketTokenServer" />
		<property name="udpServerList" ref="udpServerList" />
	</bean>

	<bean id="webSocketTokenServer" class="org.strix.mom.server.webServer.WebSocketTokenServer">
		<!--<property name="resourcePath" value="src/main/resources"/> -->
		<property name="resourcePath" value="${resourcePath}" />
		<property name="fileHandler" ref="fileHandler" />
		<property name="applicationClientManager" ref="applicationClientManager" />
		<property name="messageProcessor" ref="messageProcessor" />
	</bean>


	<bean id="applicationClientManager" class="org.strix.mom.server.webServer.ApplicationClientManager"
		factory-method="getInstance" />

	<bean id="messageProcessor" class="org.strix.mom.server.message.MessageProcessor">
		<property name="fileHandler" ref="fileHandler" />
		<property name="messageHandler" ref="messageHandler" />
		<property name="userHandler" ref="userHandler" />
	</bean>

	<bean id="userHandler" class="org.strix.mom.server.client.UserHandler">
		<property name="users" ref="userList" />
	</bean>

	<bean id="messageHandler" class="org.strix.mom.server.message.json.JsonMessageHandler" />


	<bean id="fileHandler" class="org.strix.mom.server.message.file.FileHandler">
		<property name="outputLocation"/>outputLocation</property>
		<property name="mode" value="${mode}"></property>
	</bean>

</beans>